body {
  padding: 25;
  margin: 15;
  font-family: Arial;
  font-size: 18px;
  line-height: 150%;
  color: #333;
  background: #efeee7;
}



h1 {
  padding: 20px 0;
  margin: 0;
  margin-bottom: 20px;
border: 4px orange;
  font-size: 50px;
  color: #EE4B2B;
  text-align: Left;
}